<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zenkit.web.dao.A02_MyTaskDao">
<!-- public ArrayList<JobInfo> myTaskList(JobInfo sch); -->
	<select id="myTaskList" resultType="jobInfo" parameterType="jobInfo">
		SELECT zj.*, zp.P_NAME AS p_name, zu.U_NAME AS pm_name
		FROM z_job zj, Z_PROJECT zp, Z_USER zu
		WHERE zj.P_NO = zp.P_NO
		AND zp.P_PM = zu.U_ID
		AND zj.J_COMPLETER &lt; 1
		AND j_name LIKE '%'||#{j_name}||'%'
		AND zp.p_name LIKE '%'||#{p_name}||'%'
		AND zj.u_no = #{u_no}
	</select>
<!-- public ArrayList<String> myPros(int u_no); -->
	<select id="myPros" resultType="String" parameterType="int">
		SELECT zp.P_NAME
		FROM Z_RESOURCE zr, Z_PROJECT zp
		WHERE zr.P_NO = zp.P_NO
		AND zr.U_NO = #{u_no}
	</select>
</mapper>