<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zenkit.web.dao.A02_OutputDao">
	
	<resultMap type="upOutput" id="outputMap"/>
	<select id="getOutputs" resultMap="outputMap" parameterType="outputSch">
		SELECT p.p_no, p.p_name, j.j_name, o.*
		  FROM Z_OUTPUTS o, Z_JOB j, Z_PROJECT p
		 WHERE o.j_no = j.j_no
		   AND j.p_no = p.p_no
			AND j.j_no IN (
			SELECT j_no FROM Z_JOB WHERE p_no IN (
				SELECT p_no FROM Z_RESOURCE WHERE u_no = #{u_no}
			 )
		 )
		ORDER BY o_no DESC
	</select>
	
</mapper>